h1{
    text-align: center;
    font-weight: bold;
}

.total{
    position: fixed;
    bottom: 40px;
    font-weight: bold;
}

.purchase{
    display: block;
    width: 50%;
    margin: 10px auto;
    background-color: rgb(76, 237, 55);
    text-align: center;
    color: black;
    padding-top: 6px;
    padding-bottom: 2px;
}

p{
    text-align: center;
}