.principal{
    display: flex;
    flex-direction: row;
    background-color: var(--greeny);
    width: 100%;
    margin:auto;
}

.principal img{
    overflow: hidden;
}
.content{
    display:flex;
    flex-direction: column;
}
h1{
    color:var(--blacky);
    font-size: 5vw;
}
.content p{
    color:var(--strong-green);
    font-size: 2vw;
}

/* Cards del fondo */
.etiquetas_contenido{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.etiqueta img{
    display:block;
    width: 20%;
    margin:auto;
    max-width: 100%;
}
.etiqueta h4{
    text-align: center;
}

@media screen and (max-width: 530px){
    .etiquetas_contenido{
        flex-direction: column;       
    }
    h1{
        color:var(--blacky);
        font-size: 8vw;
    }
    .content p{
        color:blue;
        font-size: 4vw;
    }
}