.principal{
    position: relative;
    background-color: var(--greeny);
    width: 100%;padding: 20px;
}
.content{
    position: relative;width: 60%;left: 5%;
}
.img_principal{
    position: absolute; top:5%; right: 10%;width: 20%;height: auto;
}
.content h1{
    color:var(--blacky);
}
.content h6{
    color:var(--strong-green);
    font-size: large;
}
.etiquetas_contenido{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.etiqueta img{
    display:block;
    width: 20%;
    margin:auto;
    /* necessary foe responsive design */
    max-width: 100%;
    height: auto;
}
.etiqueta h4{
    text-align: center;
}

@media screen and (max-width: 530px){
    .etiquetas_contenido{
        flex-direction: column;       
    }
}