.principal{
    position: relative;background-color: rgb(76, 17, 99);
    width: 100%;padding: 20px;
}
.content{
    position: relative;width: 60%;left: 5%;
}
h1{
    text-align: left;font-size: 3.4em;
    width: 60%;color:rgb(226, 73, 99);
}
h6{
    color: white;font-size: 1.4em;
    width: 60%;
}
.content_one{
    position: absolute;right: 10%;
    top: 20%;width: 10%;height: 50%;
}
button{
    background-color: rgb(226, 73, 99);font-weight: bold;
    padding: 10px;border:none;
}



/* Etiquetas de Contenido */
.etiquetas_contenido{
    position: relative;
    width: 80%;
    margin: auto;
}
.card{
    float: left;
    border:none;
    width: 30%;
    margin: 6px;
}
.card-img-top{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 60%;
    margin-bottom: 20px;
}

.card-title,.card-text{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(76, 17, 99);
}

.btn-tags{
    background-color: rgb(226, 73, 99);
    color: black;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}


/* se aplica este media query si los valores estan por de bajo de 780 */
@media screen and (max-width:740px){
    div{
        position: relative;
        width: 100%;
    }
    .content{
        position: relative; width: 100%;
    }
    h1{
        text-align: left;font-size: xx-large;width: 60%;
    }
    h6{
        color: blue;font-weight: bold;font-size: x-small;
    }
    button{
        width: 40%;height: 10%;padding: 2px;font-size: xx-small;
    }
    .content_one{
        position: absolute;right: 10px;top: 24%;width: 16%;height: 50%;
    }
    .card{
        border:none;
        width: 100%;
        margin: 4px;
    }
}

/* se aplca este media query si el ancho es mayor de 300 */
/* @media screen and (min-width:300px){
    h6{
        color: hotpink;
    }
} */