<div class="principal">
    <div class="content">
        <h1>Discover a unique experience</h1>
        <h6>We bring professional chefs to your home to prepare
            delicious,customized meals at a fraction of the cost
        </h6>
        <button>Choose a plan</button>
    </div>
    <img src="../../assets/manzana_banana.png" alt="" srcset="">
</div>

<div class="etiquetas_contenido">
    <div class="etiqueta">
        <h1>Naturaleza</h1>
    </div>
    <div class="etiqueta">
        <h1>Naturaleza</h1>
    </div>
    <div class="etiqueta">
        <h1>Naturaleza</h1>
    </div>
</div>

