<div class="principal">
    <div class="content">
        <h1>Discover a unique experience</h1>
        <h6>We bring professional chefs to your home to prepare
            delicious,customized meals at a fraction of the cost
        </h6>
        <button>Choose a plan</button>
    </div>
    <img class="content_one" src="../../assets/manzana_banana.png" alt="" srcset="">
</div>

<div class="etiquetas_contenido">
    <div class="card">
            <img class="card-img-top" src="../../assets/cereal.png" alt="Card image">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">
                Rice is a source of protein and contains various vitamins,
                such as thiamin and niacin, and minerals, such as zinc and phosphorus.
                Some nutrients, including vitamin E, magnesium, potassium, and manganese,etc</p>
            <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <div class="card">
            <img class="card-img-top" src="../../assets/combine-harvester.png" alt="Card image">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">
                A major change in your diet, even if your family and friends are super-supportive, 
                is an upheaval in your life. It begins a journey of finding new foods, new recipes, 
                new food prepping techniques, and new ways of shopping and storing food. It can be overwhelming. </p>
            <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <div class="card">
            <img class="card-img-top" src="../../assets/vegetables.png" alt="Card image">
            <h4 class="card-title">Vegetarian advice</h4>
            <p class="card-text">
                It's important to vary what you eat. Some nutrients are found in smaller amounts in vegetarian sources,
                or are less easily absorbed by the body than those in meat or fish.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>



