.principal{
    width: 70%;
    margin: auto;
    position: relative;
}
.datos{
    position: absolute;
    top:0;
}
.details{
    position: absolute;
    top: 200px;
}
button{
    margin: 4px;
}
.vitamina{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(1, 255, 35);
    color: black;
    font-weight: bold;
    border:none
}
.info{
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(0, 255, 242);
    color: black;
    font-weight: bold;
    border:none
}
.pais{
    border-radius: 20px;
    padding: 10px;
    background-color:rgb(255, 0, 234);
    color: black;
    font-weight: bold;
    border:none
}


img{
    float: left;margin-right: 30px;
}
p{
    color: black;letter-spacing: 0px;font-weight: bold;
}

