.principal{
    width: 70%;
    margin: auto;
    position: relative;
}
p{
    color: black;
    font-weight: bold;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.vitamina{
    background-color: greenyellow;
}

.info{
    background-color: pink;
}

.pais{
    background-color: grey;
}

.vitaminas{
    background-color: greenyellow;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 4px;
}

.infos{
    background-color: pink;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 4px;
}

.paiss{
    background-color:grey;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 4px;
}

