<div>
    <img src="{{url_recibida}}" alt="" srcset="">
    <p> Piña es una especie de la familia de las bromeliáceas,
        nativa de América del Sur. Planta de escaso porte y con hojas duras
        y lanceoladas de hasta 1 m de largo, fructifica una vez al año produciendo
        un único fruto fragante y dulce, muy apreciado en gastronomía.
    </p>
    <div>
        La piña contiene:
        Vitaminas: vitamina C, B1, B6, B9 (ácido fólico) y un poco de vitamina E.
        Minerales: potasio, fósforo, magnesio, yodo, cobre y manganeso, entre otros.
        Ácidos: ácido cítrico, ácido málico, ácido oxálico y enzima bromelina.
    </div>
    <br>
    <p>
        En cuanto al resto de su composición, posee alrededor de un 11% de hidratos de carbono, la mayor parte de los cuales son azúcares de asimilación rápida (sacarosa y fructosa). Apenas contiene grasa ni proteínas, lo que la convierte en una aliada en dietas de adelgazamiento y control de peso. La piña aporta unas 50 calorías por cada 100 gramos, aunque en almíbar ligero su aporte puede aumentar levemente. 
        Los almíbares concentrados añaden alrededor de 30 calorías, por lo que es recomendable tomarla en su jugo.
    </p>
</div>

