<div class="principal">
    <!-- datos es el contenedor del titulo,imagen,y una descripcion -->
    <h1>{{new_nombre}}</h1>
    <img src="{{new_url}}" alt="" srcset="">
    <div class="datos">
        <button class="vitamina" (click)="showVitaminas()">Vitaminas</button>
        <button class="info" (click)="showinfo_extra()">Info extra</button>
        <button class="pais"  (click)="showinfo_pais_procedencia()">Pais procedencia</button>
    </div>

    <div class="details">
        <div class="vitaminas" *ngIf="vitaminas">
            <p>
                Vitaminas:
                Vitaminas: vitamina C, B1, B6, B9 (ácido fólico) y un poco de vitamina E.
                Minerales: potasio, fósforo, magnesio, yodo, cobre y manganeso, entre otros.
                Ácidos: ácido cítrico, ácido málico, ácido oxálico y enzima bromelina.
            </p>
        </div>
        <div class="infos" *ngIf="info_extra">
            <p>
                En cuanto al resto de su composición, posee alrededor de un 11% de hidratos de carbono, la mayor parte de los cuales son azúcares de asimilación rápida (sacarosa y fructosa). Apenas contiene grasa ni proteínas, lo que la convierte en una aliada en dietas de adelgazamiento y control de peso. La piña aporta unas 50 calorías por cada 100 gramos, aunque en almíbar ligero su aporte puede aumentar levemente. 
                Los almíbares concentrados añaden alrededor de 30 calorías, por lo que es recomendable tomarla en su jugo.
            </p>
        </div>
        <div class="paiss" *ngIf="pais_procedencia">
            <p>
                Pais procendecia:El salvador
            </p>
        </div>
    </div>
    <!-- <button (click)="go()">GO RELATIVE METHOD</button>
    <button routerLink="./info">GO ROUTERLINK</button>
    <router-outlet></router-outlet> -->
</div>

