<div class="tool_bar">
    <div class="section">
        <img src="../../assets/flaticon_icons/sale.png" alt="compras">
        <span class="tooltiptext">ofertas</span>
    </div>
    <div [routerLink]="['/historial']"  class="section">
        <img src="../../assets/flaticon_icons/shopping-bag.png" alt="bolsadelacompra">
        <span class="tooltiptext">historial</span>
    </div>
    <div [routerLink]="['/payout']"  class="section">
        <img src="../../assets/flaticon_icons/shopping-cart.png" alt="carrito">
        <span  class="counter">
            <app-counter></app-counter>
        </span>
    </div>
</div>
