<div class="tool_bar">
    <div class="iconos">
        <img src="../../assets/flaticon_icons/sale.png" alt="compras">
        <span class="tooltiptext">ofertas</span>
    </div>
    <div  class="iconos">
        <img src="../../assets/flaticon_icons/shopping-bag.png" alt="bolsadelacompra">
        <span class="tooltiptext">historial</span>
    </div>
    <div  class="iconos">
        <img src="../../assets/flaticon_icons/shopping-cart.png" alt="carrito">
        <span class="tooltiptext">carrito</span>
    </div>
    <div  class="iconos">
        <img src="../../assets/flaticon_icons/wishlist.png" alt="market_list">
        <span class="tooltiptext">mi lista</span>
    </div>
</div>