div{
    position: relative;
}
img{
    display: block;
    margin: auto;
    width: 50%;
    height: 100vh;
}

input{
    display: block;
    margin: auto;
    width: 60%;
    margin: 20px;
}

.inputs{
    position: absolute;
    width: 44%;
    top: 40%;
    left: 36%;
}


@media screen and (max-width:750px) {
    div{
        position: relative;
    }
    img{
        display: block;margin: auto;
        width: 100%;height: 50vh;
    } 
    input{
        display: block;margin: auto;
        width: 100%;
    }
    .inputs{
        position: absolute;width: 44%;
        top: 34%;left: 28%;
    } 
}