<app-nav-bar></app-nav-bar>

<h1>Contact us</h1>
<form class="contact" [formGroup]="profileForm">
    <input type="text" formControlName="name" placeholder="Nombre?">
    <input type="text" formControlName="mail" placeholder="Email?">
    <input type="text" formControlName="knowus" placeholder="How did you know us?">
    <button 
     [disabled]="!this.profileForm.valid"
     (click)="SendToServer()"
    >{{ !this.profileForm.valid ? "Blank fields" : "Ready to send" }}</button>
</form> 

<!-- <h1 [ngClass]="isSpecial ? 'popUpShowed' : 'popUp' ">Send it correctly</h1> -->
<h1 class="isSpecial">Send it correctly</h1>