<app-nav-bar></app-nav-bar>


<div class="contact">
    <h1>Contact us</h1>
    <input class="uno" placeholder="Whole name"  [(ngModel)]="whole_name" type="text">
    <input class="dos" placeholder="E-mail" [(ngModel)]="mail" type="email">
    <input class="tres" placeholder="How did you know us?" [(ngModel)]="knowus" type="text">
    <textarea class="cuatro" placeholder="Write something" [(ngModel)]="something" cols="30" rows="4"></textarea>
    <button (click)="GetOpinion()">Send</button>
</div>

