.inputs{
    /* background-color: greenyellow; */
    width: 50%;
    position: fixed;
    top: 250px;
    left: 10px;
}

h1{
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border:4px solid rgb(78, 228, 183);
    border-radius: 20px;
}

textarea{
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border:4px solid rgb(78, 228, 183);
    border-radius: 20px;
}

button{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}

img{
    position: fixed;
    top: 180px;
    right: 250px;
    width: 30%;
    height: 50%;
}