<div>
        <input type="text" placeholder="Articulo que buscas?">
        <button>Buscar</button>
</div>
<br>

<div class="conCards">
        <ul *ngFor="let item of lista;">
                <div class="card">
                        <img [routerLink]="['/details',item.url]" [src]="item.url" alt="r">
                        <h6>{{item.nombre}}</h6>
                        <button class="btn_interno">Add</button>
                </div>
        </ul>
</div>
<h1 class="options">Hola</h1>
<app-pagination></app-pagination>







