button{
    width: 25%;
    float: left;
    background-color: white;
    border-radius: 10px;
    font-size: 80%;
}
.barrita1{
    position: static; 
    width: 60%;
    margin: auto;
}
img{
    display: inline;
    margin: auto;
    width: 15%;
    height: 5%;
}
h1{ display: block;text-align: center; }
