button{
    width: 25%;
    float: left;
    background-color: white;
    border-radius: 10px;
    font-size: 80%;
    border-width: 8px;
    border-color: skyblue;
    box-sizing: border-box;
}
.barrita1{ 
    width: 80%;
    margin: auto;
}
img{
    display: inline;
    margin: auto;
    width: 15%;
    height: 5%;
}
h1{ display: block;text-align: center;background-color: skyblue;}


/*MEDIAS QUERIES*/
/*600 or smaller*/
@media screen and (max-width: 500px) {
    h1 {
      background-color: pink;
    }
    .barrita1{ 
        width: 100%;
    }
    button{
        width: 25%;
        float: left;
        background-color: white;
        border-radius: 10px;
        font-size: 40%;
        border-width: 8px;
        border-color: pink;
        box-sizing: border-box;
    }
  }