div{
    background-color: yellow;
}
h1{
    background-color: rgb(216, 6, 216);
    width: 50%;
    border: 10px solid red;
    border-radius: 10px;
    margin: auto;
}
img{
    display: block;
    margin: auto;
}