<h1 class="content">{{title}}</h1>

<!--Barra de navegacion-->
<nav>
    <button><img src="../assets/dog.gif" alt="">About us</button>
    <button><img src="../assets/girafe.gif" alt="">Animals</button>
    <button><img src="../assets/traveler.gif" alt="">Location</button>
    <button><img src="../assets/send-e-mail.gif" alt="">Contact</button>
</nav>
<div>
    <label>Favorite food</label>
    <input placeholder="Ex. Pizza" value="Sushi">
</div>
<!--Pie de pagina-->
<footer>
<div style="height: 150px; overflow: hidden;" >
    <svg viewBox="0 0 500 150"
    preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 520.59,49.83 L542.61,244.23 L-11.00,149.50 Z" 
    style="stroke: none; fill: rgb(25, 214, 8)">
    </path>
    </svg>
</div>
</footer>