div{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-color: black;
    border-width: 5px;
    background-color: greenyellow;
    opacity: 0.8;
}
h6{
    float: right;
    color:black;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 10px;
}