div{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(27, 2, 77);
}

/* ambas etiquetas que aparecen: developed by y all rights reserved */
h6{
    float: right;color:rgb(240, 9, 136);font-weight: bold;
    margin-top: 20px;margin-right: 10px;
}
.derecho{
    float: left;margin-left: 8px;
}
/* fin etiquetas */

img{
    margin: 10px 0px 0px 10px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 760px) and (min-width: 200px){
    h6{
        font-size: 0.8em;
    }
    .derecho{
        display: none;
    }
    img{
        margin: 6% 0px 0px 10px;
        width: 20px;
        height: 20px;
    }
}

