/*Contenedor principal*/
.header{
    position: relative;
    background-color: rgb(78, 228, 183);
}

/*Las 2 imagenes del costado derecho*/
.img1{
    width: 50px;margin-right: 20px;cursor: pointer;
}
.titulo{
    font-weight: bold;font-size: 2.0em;color: black;
}

/*Barra navegacion*/
nav{
    display: flex;align-items: center;padding: 20px 8%;
}

/*Enlaces de la barra de navegacion*/
nav ul{
    flex: 1;
    text-align: right;
}

/*list items de la barra de navegacion*/
nav ul li{
    display: inline-block;
    padding: 6px;
    list-style: none;
    margin: 0 10px 10px 10px 0px;
}

nav ul li:hover{
    text-decoration-line: underline;
    text-decoration-style: solid ;
    text-decoration-thickness: 6px;
}


/*Etiquetas ancla de la barra de navegacion*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.0em;
}
