/*Contenedor principal*/
.header{
    position: relative;
    background-color: greenyellow;
    opacity: 0.8;
}

/*Las 2 imagenes del costado derecho*/
.img1{
    width: 50px;margin-right: 20px;cursor: pointer;
}
.img2{
    font-weight: bold;font-size: x-large;
}

/*Barra navegacion*/
nav{
    display: flex;align-items: center;padding: 20px 8%;
}

/*Enlaces de la barra de navegacion*/
nav ul{
    flex: 1;
    text-align: right;
}

/*list items de la barra de navegacion*/
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

/*Etiquetas ancla de la barra de navegacion*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
