<header class="header">
    <nav>
        <img class="menu1" src="../assets/menu_adobespark.png" alt="soy menu">
        <img class="menu2" src="../assets/yasai_.png" alt="soy menu2">
        <ul class="nav_links">
                <li><a routerLink="about" >About</a></li>
                <li><a routerLink="animal" >Products</a></li>
                <li><a routerLink="location" >Location</a></li>
                <li><a routerLink="contact" >Contact</a></li>
        </ul>
        <button><span></span></button>
    </nav>
  </header>
