/*Contenedor principal*/
.header{
    position: relative;
    background-color: var(--white-normal);
    display: flex;flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
img{ 
    height:60px;width:60px;
}
.titulo{ 
    font-size:xx-large; 
}
ul{ 
    list-style-type: none;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    font-size: large;
    color: var(--softer-purple);
}
@media screen and (max-width: 760px) {
    .header{
        position: relative;
        background-color: var(--white-normal);
        display: flex;flex-direction: column;
        align-items: center;
    } 
    a{
        text-decoration: none;
        font-size: medium;
        color: var(--softer-purple);
    }
}