.menu{
    width: 40%;
    margin: auto;
}
.menu div{
    width: 100%;
    border-radius: 10px;
}
.menu div h6{
    color: black;
    font-weight: bold;
    font-size: 10px;
}
.menu div img{
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
}