.datos{
    background-color:greenyellow;
    width: 100%;
    height: 100vh;
}
.google_button{
    background-color: white;
}
.google_logo{
    width: 20px;
    height:20px;
}
img{
    display: block;
    margin: auto;
    width: 10%;
}
p{
    width: 20%;
    margin: auto;
    font-size:large;
    margin: 2% auto;
}
input{
    display: block;width: 80%;
    margin:2% auto; padding: 20px;
    color: black;
    border-radius: 20px;
    font-size: large;
    outline:none;
    border:none;
}
button{
    display: block;
    margin:0.2% auto;
    width:20%;
    background-color:yellow;
    border-radius: 20px;
    color: black;
    font-size: medium;
    border:none;
    padding: 8px 18px;
}

@media screen and (max-width:780px){
    button {
        width:50%;
    }
    p{
        width:80%;
    }
    img{
        width:30%;
    }
}