<h1> <i class="bi bi-bag"> </i> My ShoppingList</h1>

<div  class="lista_A_vender"  *ngFor="let item of lista_A_pagar;let i=index">
    <h6>Product's name: {{item.nombre}}</h6>
    <h6>Price: {{item.precio}}€</h6>
    <h6>Indice: {{i}}</h6>
    <input  class="cantidad" #valor  (change)="SetQuantityOfProducts(i,item.nombre,valor.value)" type="number" value="0">
    <img class="type" [src]='item.url' alt="" srcset="">
    <img class="trash" (click)="DeleteProduct(i)" 
    src="../../assets/Flaticon_icons/delete.png" alt="" srcset="">
</div>

<button id="jona" (click)="Confirm()">Confirmar productos</button>
<img src="../../assets/Payout/animation_500_kwexoljf.gif" alt="" srcset="">

<div class="total">
    <h2>Total: {{Total_A_Pagar}} </h2>
    <button>Buy now</button>
</div>


