<app-nav-bar></app-nav-bar>

<h1>My ShoppingList</h1>
<h6>Introduce la cantidad en el cuadro del producto</h6>
<button  (click)="confirm()">Confirmar compra</button>
<div class="container">
    <div  class="card" *ngFor="let item of items_nearto_buy;let i=index">
        <img [src]="item.url" alt="item" srcset="">
        <h6>Product's name: {{item.nombre}}</h6>
        <h6>Price: {{item.precio}}€</h6>
        <input #jona  class="valor" type="number" min="0" [value]="Quantity">
        <button (click)="add(item.nombre,item.precio,jona.value)">añadir</button>
    </div>
</div>

<h1 class="total">Total a pagar: {{total}}€</h1>


