<h1> <i class="bi bi-bag"> </i> My ShoppingList</h1>


<!-- <img class="flecha" src="../../assets/Payout/return.png" alt="" srcset=""> -->


<div  class="lista_A_vender" *ngFor="let item of lista_op">
    <h6>Nombre Producto: {{item.nombre}}</h6>
    <h6>Id producto: {{item.id}}</h6>
    <input type="number" placeholder="0" class="cantidad">
    <img class="type" [src]='item.url' alt="" srcset="">
    <img class="trash" src="../../assets/Flaticon_icons/delete.png" alt="" srcset="">
</div>

<img src="../../assets/Payout/animation_500_kwexoljf.gif" alt="" srcset="">

<div class="total">
    <h2>Total: 50€ </h2>
    <button>Buy now</button>
</div>


