/* You can add global styles to this file, and also import other style file*
*/

@font-face {
    font-family: animated;
    src: url("assets/Fuentes/Fuzzy_Bubbles/FuzzyBubbles-Bold.ttf");
}

/* Colours to all the project */
:root{
    --white-normal: rgb(255, 255, 255);
    --softer-purple:rgb(242, 40, 174);
    --blacky:rgb(10, 10, 10);
}


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: animated;
}

html, body { height: 100%; }
