/* You can add global styles to this file, and also import other style file*
*/

@font-face {
    font-family: animated;
    src: url("assets/Fuentes/Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf");
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: animated;
    background-color: none;
    color: black;
}

html, body { height: 100%; }
